<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
<dom-module id="login-user">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <span id ="" class="text-center">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" value="{{email::input}}"  required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" value="{{password::input}}" required>
      <div class="checkbox mb-3">
          <label>
             <input type="checkbox" value="remember-me"> Remember me
           </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" on-click="login">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; TechU-2018</p>
    </span>
<!--       <h3>Bienvenido, ingresa tus datos</h3><br>-->
<!--     <h3>Estado:{{rta}}</h3>-->
<!--               <div align = "center">
      <input type="email" class="form-control" placeholder="Email" value="{{email::input}}" style="width:100%"><br>
      <input type="password"  class="form-control" placeholder="Password" value="{{password::input}}" style="width:100%"><br>
      <button class="btn btn-lg btn-primary btn-block" on-click="login" style="width:100%">Login</button>
      <p class="mt-5 mb-3 text-muted">&copy; TechU-2018</p>
    </div>-->
   <!-- $ por ser un atributo HTML en vez de un elemnto polymer
 <my-componente my-hidden = {{isLogged}}
 <span hidden$ =
 -->

   <iron-ajax
     id="doLogin"
     url="http://localhost:3000/colapi/v3/login"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUser extends Polymer.Element {
     static get is() { return 'login-user'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, rta: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         }
       };
     }

     login() {
       console.log("El user ha pulsado el botón login.");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
       // convertimos el objeto JS a un JSON
       // el $ es por convención
       // body es una propiedad del iron-ajax
       this.$.doLogin.body = JSON.stringify(loginData);
       // hacemos petición con los datos del formulario del iron-ajax
       this.$.doLogin.generateRequest();
       console.log("Petición login enviada...");
     }
     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response);
       var r = data.detail.response;
//       this.rta = JSON.stringify(r);
       this.rta = data.detail.response.msg;
//       console.log("Jsonnnnn..."+data.detail.response.rt.n);
       var val = data.detail.response.rt;
       var eve = data.detail.response.evento;
       var idus = data.detail.response.idu;
       if (eve == "in"){
         if (val == 1){
          this.isLogged = true;
          console.log("Emisor ha pulsado el boton...");
          console.log("isloged..."+this.isLogged);
          console.log("user en login..."+idus);

          this.dispatchEvent(new CustomEvent('loginOk', {detail:{usuario:idus,lin:this.isLogged}}));
        }else{
          this.isLogged = false;
          this.dispatchEvent(new CustomEvent('loginOk', {detail:{usuario:idus,lin:this.isLogged}}));
        }
      }
     // redirigir
     //window.location = "/user/" + data.detail.response.id;
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(LoginUser.is, LoginUser);
 </script>
</dom-module>
