<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
<dom-module id="logout-user">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <a class="btn btn-link" on-click="logout" align = "rigth">Logout</a>
<!--Iron del logout-->
     <iron-ajax
       id="doLogout"
       url="http://localhost:3000/colapi/v3/logout"
       content-type="application/json"
       method="POST"
       handle-as="json"
       on-response="manageAJAXResponse"
       on-error="showError">

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class logoutUser extends Polymer.Element {
     static get is() { return 'logout-user'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, rta: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         }
       };
     }

     logout() {
         console.log("El user ha pulsado el botón logout.");
         this.isLogged = false;
         var logoutData = {
           "email" : this.email,
           "password" : this.password
         };
         this.$.doLogout.body = JSON.stringify(logoutData);
         // hacemos petición con los datos del formulario del iron-ajax
         this.$.doLogout.generateRequest();
         console.log("Petición logout enviada...");
     }
     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response);
       var r = data.detail.response;
//       this.rta = JSON.stringify(r);
       this.rta = data.detail.response.msg;
//       console.log("Jsonnnnn..."+data.detail.response.rt.n);
       var val = data.detail.response.rt;
       var eve = data.detail.response.evento;
       var idus = data.detail.response.idu;
      if (eve == "out"){
        if (val == 1){
          console.log("Emisor ha pulsado el boton...");
          console.log("user en logout..."+idus);
         this.isLogged = false;
         this.dispatchEvent(new CustomEvent('loginOk', {detail:{usuario:0,lin:this.isLogged}}));
       }else{
         this.isLogged = true;
         this.dispatchEvent(new CustomEvent('loginOk', {detail:{usuario:idus,lin:this.isLogged}}));
       }
     }
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(logoutUser.is, logoutUser);
 </script>
</dom-module>
