<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-user">
  <template>
    <style>
      :host {
        display: block;
        color:blue;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
         <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
         total columnas 12 (que indica el ancho máximo)-->
         <!-- media query -->
         <h2 class="col-md-5">{{first_name}} {{last_name}}</h2><br>
         <h2 class="col-md-5">{{email}}</h2><br>
    </div>
    <!--
    <button class="btn btn-success">Login</button>
    <button class="btn btn-warning">Logout</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-danger">Danger</button>-->
    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/colapi/v3/users/{{id}}"
      handle-as="json"
      on-response="showData">
    </iron-ajax>
    <!--handleResponse-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUser extends Polymer.Element {
      static get is() { return 'visor-user'; }
      static get properties() {
        return {
          id: {
            type: String
          }, first_name:{
            type: String
          }, last_name:{
            type: String
          }, email:{
            type: String
          }
        };
      }
      showData(data){
        //console.log(data);
        console.log("Datos recibidos:" +data);
        //mlab nos devuelve un array con el objeto solicitado por eso [0]
        var js = data.detail.response;
        var id = data.detail.response.id;
        var fn = data.detail.response.first_name;
        var ln = data.detail.response.last_name;
        var em = data.detail.response.email;
        console.log("Id:" +id);
        console.log("name:" +fn);
        console.log("lastname:" +ln);
        console.log("email:" +em);
        this.id = id;
        this.first_name = fn;
        this.last_name = ln;
        this.email = em;

      }
    }
    window.customElements.define(VisorUser.is, VisorUser);
  </script>
</dom-module>
