<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-accounts">
  <template>
    <style>
      :host {
        display: block;
        color:black;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <span hidden$="{{!isView}}">
    <h5 align = "center-block">Visor de cuentas</h5>
    <iron-ajax
      auto=""
      id="getaccounts"
      url="http://localhost:3000/colapi/v3/users/{{user_id}}/accounts"
      handle-as="json"
      on-response="showData">
    </iron-ajax>
    <table class="table">
     <thead class="thead-blue">
       <tr>
         <th scope="col">IBAN</th>
         <th scope="col">Usuario</th>
         <th scope="col">Balance</th>
         <th scope="col">Movimientos</th>
       </tr>
     </thead>
     <template is="dom-repeat" id="accountsUser" items="{{accounts}}">
       <tr class="thead-light">
             <td scope="row">{{item.iban}}</td>
             <td scope="row">{{item.user_id}}</td>
             <td scope="row">{{item.balance}}</td>
             <td scope="row">
                  <a class="btn btn-link" href="http://localhost:3000/colapi/v3/accounts/{{item.iban}}/movements">Ver Movimientos</a>
             </td>
       </tr>
     </template>
    </table>
<!--    <template is="dom-repeat" items={{accounts}}>
            <div class="row">
           <h2 class="col-md-5">Iban {{item.IBAN}} <br /> Usuario {{item.user_id}}<br />Balance {{item.balance}} <br /></h2>
           <h2><br />
                <a class="btn btn-link" href="http://localhost:3000/colapi/v3/accounts/{{item.IBAN}}/movements">Ver Movimientos</a>
           </h2>
      </div>
    </template>-->
  </template>
</span>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAccounts extends Polymer.Element {
      static get is() { return 'visor-accounts'; }
      static get properties() {
        return {
          iban: {
            type: String
          }, user_id:{
            type: String
          }, balance:{
            type: String
          }, accounts:{
            type: Array
          }, isView: {
          type: Boolean,
          value: false
        }
        };
      }
      showData1(data1){
        console.log("datos en account..."+JSON.stringify(data1));
        console.log("datos usuario acc..."+data1.usuario);
        if (data1.usuario != 0){
          this.user_id = data1.usuario;
          this.isView = true;
        }else{
          this.isView = false;
        }
      }
      showData(data){
//        var m = data.detail.response.msg;
//        if (m != undefined){
          this.accounts = data.detail.response;
//          this.isView = true;
//        }else{
//          this.isView = false;
//        }
      }
    }
    window.customElements.define(VisorAccounts.is, VisorAccounts);
  </script>
</dom-module>
