<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-account">
  <template>
    <style>
      :host {
        display: block;
        color:blue;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
         <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
         total columnas 12 (que indica el ancho máximo)-->
         <!-- media query -->
         <h1 class="col-md-12">Visor Cuentas</h1>
         <h2 class="col-md-5">Iban {{iban}} <br /> Usuario {{user_id}}<br />Balance {{balance}} <br /></h2>
         <h2><br />
<!--           <button class="btn btn-link">-->
              <a class="btn btn-link" href="http://localhost:3000/colapi/v3/accounts/{{iban}}/movements">Ver Movimientos</a>
<!--            </button>-->
         </h2>
    </div>
    <button class="btn btn-success">Login</button>
    <button class="btn btn-warning">Logout</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-danger">Danger</button>
    <iron-ajax
      auto=""
      id="getaccount"
      url="http://localhost:3000/colapi/v3/users/{{user_id}}/accounts"
      handle-as="json"
      on-response="showData">
    </iron-ajax>
    <!--handleResponse-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAccount extends Polymer.Element {
      static get is() { return 'visor-account'; }
      static get properties() {
        return {
          iban: {
            type: String
          }, user_id:{
            type: String
          }, balance:{
            type: String
          }
        };
      }
      showData(data){
        //console.log(data);
        console.log("Datos recibidos:" +data);
        //mlab nos devuelve un array con el objeto solicitado por eso [0]
        var js = data.detail.response;
        var ib = data.detail.response.iban;
        var ui = data.detail.response.user_id;
        var bl = data.detail.response.balance;
        console.log("Iban:" +ib);
        console.log("UserId:" +ui);
        console.log("balance:" +bl);
        this.iban = ib;
        this.user_id = ui;
        this.balance = bl;
      }
    }
    window.customElements.define(VisorAccount.is, VisorAccount);
  </script>
</dom-module>
