<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-receptor">
  <template>
    <style>
      :host {
        display: block;
        color:blue;
      }
    </style>
    <h1>Estamos en Receptor...</h1>
    <h2>Soy el Receptor...</h2>
    <h3>Usuario: {{usuario}}</h3>
    <h3>Origen: {{origen}}</h3>
    <h3>Pais: {{pais}}</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class demoReceptor extends Polymer.Element {
      static get is() { return 'demo-receptor'; }
      static get properties() {
        return {
          usuario:{
            type: String
          },
          origen:{
            type: String
          },
          pais:{
            type: String
          }
        };
      }
      mostrarDatosRecibidos(data){
        console.log("Receptor:"+ JSON.stringify(data));
        this.usuario = data.usuario;
        this.origen = data.origen;
        this.pais = data.pais;
      }
    }
    window.customElements.define(demoReceptor.is, demoReceptor);
  </script>
</dom-module>
