<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link href="/docs/4.0/assets/css/docs.min.css" rel="stylesheet">
<link rel="import" href="/src/componente-2/login-user.html">
<link rel="import" href="/src/componente-2/logout-user.html">
<link rel="import" href="/src/componente-2/user.html">
<link rel="import" href="/src/componente-2/visor-accounts.html">
<link rel="import" href="/src/componente-2/visor-movements.html">

<dom-module id="demo-manejador">
  <template>
    <style>
      :host {
        display: block;
        color:blue;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <span hidden$="{{isLogged::input}}">
        <h1 class="h3 mb-3 font-weight-normal">Bienvenido, ingresa tus datos</h1>
        <login-user id="login"></login-user>
    </span>
    <span hidden$="{{!isAccounts::input}}">
       <visor-user id="user" user_id="{{usuario}}"></visor-user>
       <logout-user id="logout"></logout-user>
       <visor-accounts id="accounts" user_id="{{usuario}}"></visor-accounts>
    </span>
<!--    <span hidden$="{{!isMovements::input}}">
        <logout-user id="logout"></logout-user>
        <visor-accounts id="movements" user_id="{{IBAN}}"></visor-accounts>
    </span>
    <demo-login id="login"></demo-login>
    <demo-accounts id="accounts"></demo-accounts>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class demoManejador extends Polymer.Element {
      static get is() { return 'demo-manejador'; }
      ready(){
        super.ready();
        this.$.login.addEventListener('loginOk', e => {this.procesarLogin(e)});
      }
      static get properties() {
        return {
        isLogged: {
          type: Boolean,
          value: false
        },
        isAccounts: {
          type: Boolean,
          value: false
        }
        };
      }
      procesarLogin(e){
        console.log(e.detail);
        this.usuario = e.detail.usuario;
        this.fname = e.detail.fn;
        this.lname = e.detail.ln;
        this.uemail = e.detail.em;
        this.isLogged = e.detail.lin;
        if(!this.isLogged){
          this.isAccounts = false;
        }else{
          this.isAccounts = true;
        }
        console.log("datalin..."+e.detail.lin);
        console.log("datausuario..."+e.detail.usuario);
        this.$.accounts.showData1(e.detail);
      }
    }
    window.customElements.define(demoManejador.is, demoManejador);
  </script>
</dom-module>
