<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-emisor">
  <template>
    <style>
      :host {
        display: block;
        color:blue;
      }
    </style>
    <h1>Estamos en Emisor...</h1>
    <button on-click="hacerLogin">Pulsame...</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class demoEmisor extends Polymer.Element {
      static get is() { return 'demo-emisor'; }
      static get properties() {
        return {
        };
      }
      hacerLogin(e){
        console.log("Emisor ha pulsado el boton...");
        this.dispatchEvent(new CustomEvent('loginOk', {detail:{usuario:"Christopher Colmenares",origen:"TechU", pais: "Colombia"}}));
      }
    }

    window.customElements.define(demoEmisor.is, demoEmisor);
  </script>
</dom-module>
