<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="componente-test">
  <template>
    <style>
      :host {
        display: block;
        color:red;
      }
    </style>
    <h1>Hello [[prop1]]!</h1>
    <h2>Nombres: [[name]]</h2>
    <h2>Apellidos: [[lastname]]</h2>
    <h2>Age: [[age]] años...</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ComponenteTest extends Polymer.Element {
      static get is() { return 'componente-test'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Bienvenido!!!'
          },
          name: {
            type: String,
            value: 'Deison'
          },
          lastname: {
            type: String,
            value: 'Colmenares'
          },
          age: {
            type: Number,
            value: 20
          }
        };
      }
    }

    window.customElements.define(ComponenteTest.is, ComponenteTest);
  </script>
</dom-module>
